@font-face {
  font-family: miFuente;
  font-weight: 400;
  src: url(../fuente/Coolvetica\ Rg.otf);
}

@font-face {
  font-family: miFuente;
  font-weight: 400;
  font-style: italic;
  src: url(../fuente/Coolvetica\ Rg\ It.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 body {
  font-family: "Open Sans", sans-serif;
  background-color: #e7e6e69f;
  color: #333;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
 }

 h1, h2{
  font-family: miFuente;
 }

 h1 {
  font-size: 53px;
  animation: deslizarIzquierda 2s ease-out;
  text-transform: uppercase;
 }

 h2 {
  text-align: left;
  font-style: italic;
  margin: 0;
  font-size: 35px;
  animation: aparecer 2s steps(3);
 }

 p{
  font-size: 20px;
 }

 h3{
  font-weight: 600;
  font-size: 20px;
 }

 @keyframes aparecer {
  from { opacity: 0; }
  to { opacity: 1; }
 }

 @keyframes deslizarIzquierda {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
 }

 header, nav, main, section, footer {
  width: 100%;
  padding: 10px;
 }

 header {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

 nav a {
  text-decoration: none;
  color: #b61fd0;
  font-weight: 800;
  font-size: 20px;
  margin: 0 15px;
 }

 .servicios {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 10px;
  margin-bottom: 60px;
 }

 .servicio {
  max-width: 900px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: transform 0.5s linear;
 }

 .servicio:hover {
  transform: scale(1.05);
 }

 #portfolio div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  margin-bottom: 60px;
 }

 img {
  width: 100%;
  border-radius: 15px;
  transition: box-shadow 0.5s linear;
 }

 img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
 }

 footer {
  background-color: rgba(198, 32, 227, 0.633);
  color: white;
  display: flex;   
  font-size: 15px;
  height: 50px;
  align-items: center;      
  justify-content: center;  
  text-align: center;
  margin-top: 60px;
 }

 .intro {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 100px;
  margin-top: 60px;
 }

 #contacto p {
  text-align: left;
 }

 #contacto a {
  text-decoration: none;
  color: #b61fd0;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  margin: 10px;
}

 @media(max-width: 768px)
 {
  h1{font-size: 30px;}
  #portfolio div{
    grid-template-columns: repeat(1,1fr);
  }
 }